
<a routerLink="/principalde" class="btn btn-link">Confirmacion de vacaciones.</a>

<br>
<br>
<div class="ae-container-fluid rk-topbar">
    <form>
        
        <div class="form-group">
            <img src="assets/img/nuxibalogo.PNG" alt="" width= "150px" height="150px">
        <button type="button" (click)="downloadPDF()" class="btn btn-link" top="154px" left="828px" width="100px" height="106px" 
        bordercolor="1px solid #CED2D5" border-radius="4px" opacity= "1">PDF</button>
        <br>
        <br>
            <h1><p style="color:#6B7982">Solicitud de vacaciones</p></h1>
            <br>
            <div class="row">
            <app-cancelar></app-cancelar>
            <app-solicitar></app-solicitar>
        </div>
        </div> 
                    
    
                </form>
    

</div>
<br>
<br>
