<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
   
    <div class="container-fluid" style="background-color:#576771">
        <h1 class="rk-logo">
        <div class="logo">
          <a routerLink="portafolio.html" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/logonu.PNG"/>
            </div>
          </a>
        </div>
      </h1> 
      <!-- <div>
      <nav class="rk-navigation">
          
          <form class="rk-search">
            <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
            <label for="urku-search">
              <svg>
                <use xlink:href="assets/img/symbols.svg#icon-search"></use>
              </svg>
            </label>
          </form>
        </nav>
      </div> -->
      </div>
   
  
  </header>