<div class="ae-container-fluid rk-topbar">    
    <form class="form">
        
        <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
                <img src="assets/img/vacacioneslogin.png" alt="" left="72px" width= "400px" height="398px">  
            </div>
            
            <div class="col-xs-6 col-xs-offset-6">
                <img src="assets/img/nuxibalogo.PNG" alt=""   width= "200px" height="150px">
                <br>
                <br>
                <app-email></app-email>
                <app-password></app-password>
                <app-entrar></app-entrar>
            </div>
        </div> 
    </form>
</div>
