<div class="page-header">
    
    
    <form class="form">

        <h1><p style="color:red">Login</p>
        </h1>
    
        <div class="ae-grid__item item-lg-9 au-xs-ta-center">
            <div class="form-group col-md-6">
                <label for="inputEmail4"><p style="color:red">Email</p></label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
        
            <div class="form-group col-md-6">
                <label for="inputPassword4"><p style="color:red">Password</p>
                </label>
                <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group col-md-6">
                <button class="btn btn-primary btn-lg btn-block">Login</button>
            </div>

        </div>

        

    </form>

</div>