<div class="ae-container-fluid rk-topbar">    
  <form class="form">       
    <div class="row">
      <div class="col-xs-6 col-xs-offset-9">
          <a class="nav-link rk-item ae-masonry__item" routerLink="principalde">
            <img src="assets/img/vac.PNG" alt="" width= "50px" height="50px">
                <div class="item-meta">
                  <h2>Nuxiba</h2>
                  <p>Vacaciones</p>
                </div>
          </a>
          <p class="ae-u-bolder au-mb-6" ALIGN="center" style="color:blue"><b>Solicita vacaciones</b></p>
      </div>
    </div> 
  </form>
</div>